.services {
    margin-top: 50px;
    margin-bottom: 50px;
}
.services h1{
    text-align: right;
    margin-bottom: 25px;
}
.services h1 span{
    color: var(--themeColor)
}
.all-services{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    align-items: center; 
    justify-content: center;
}
.all-services div{
    padding: 50px;
    /* height: 270px; */
}
.all-services div h2 {
    color: var(--light);
    display: block;
    text-align: left;
    font-size: calc(3vw);
}
.all-services p{
    color: var(--light);
    text-align: left;
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}
.all-services div{
    position: relative;
    background: var(--dark);
}
.all-services div .icon{
    position: absolute;
    top: 20%;
    background: var(--themeColor);
    padding: 20px;
    border-radius: 50%;
}
.all-services div .icon svg{
    font-size: 40px;
}
.all-services div:nth-child(odd){
    margin-top: -100px;
}

.all-services div:nth-child(odd) .icon{
    left: 0;
    margin-left: -40px;
}
.all-services div:nth-child(even) .icon{
    margin-right: -40px;
    right: 0;
}

/* Responsive */
@media (max-width: 768px){
    .services h1{
        font-size: 35px;
    }
    .all-services{
        grid-template-columns: repeat(1, 1fr);
    }
    .all-services div h2 {
        margin-top: 30px;
    }
    .all-services div .icon {
        position: absolute;
        top: 10%;
    }
    .all-services div:nth-child(odd) .icon {
        left: 45%;
        margin-left: 0px;
    }
    .all-services div:nth-child(even) .icon {
        right: 45%;
        margin-right: 0px;
    }
    .all-services div .icon {
        padding: 10px;
    }
    .all-services div .icon svg{
        font-size: 30px;
    }
    .all-services div:nth-child(odd) {
        margin-top: 0px;
    }
    .all-services div h2 {
        font-size: calc(7vw);
    }
}