.container {
  width: 90%;
  margin: auto;
  display: block;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo img {
  width: 250px;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
  align-items: center;
}
nav ul li a {
  transition: 0.3s ease-in-out;
  display: flex;
  gap: 10px;
  align-items: center;
}
nav ul li a {
  font-size: 14px;
}
nav ul li:hover a,
.active {
  color: var(--themeColor);
  text-decoration: underline;
}
nav ul li a:active {
  color: var(--themeColor);
  text-decoration: underline;
  transform: scale(1.5);
}
.hambarger {
  display: none;
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.hambarger svg {
  width: 100%;
  height: 100%;
}

.contact-us {
  background: var(--themeColor);
  color: var(--light);
  padding: 10px 15px;
  border-radius: 5px;
  color: var(---text-dark);
}
.contact-us:hover,
.contact-us:active {
  opacity: 0.9;
  color: var(--light);
}

/* Responsive */
@media only screen and (max-width: 768px) {
  nav ul{
    position: fixed;
    height: 100vh;
    right: 0;
    bottom: 0;
    background-color: transparent;
    width: 40%;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 20px;
  }
  nav ul::after {
    content: "";
    background: rgba(255, 255, 255, 0.05);
    width: 100%;
    height: inherit;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: -9;
  }
  nav ul {
    flex-direction: column;
    height: 100%;
    gap: 50px;
    justify-content: center;
  }
  .hambarger {
    display: block;
  }
  .display-none{
    display: none;
  }
  .display-block{
    display: flex;
  }
}
