
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&family=Orbitron:wght@400;700&family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  max-width: 1440px;
  margin: auto;
  display: block;
}
:root {
  --themeColor: #ffc700;
  --dark: #000;
  --text-dark: #222a41;
  --light: #ffffff;
  --gray: rgba(128, 128, 128, 0.577);
}
.btn {
  color: var(--light);
  width: 216px;
  text-align: center;
  font-family: Source Sans Pro;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 160% */
  letter-spacing: 4.2px;
  text-transform: uppercase;
}
p {
  color: var(--text-dark);

  font-family: Sintony;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
a {
  color: var(--dark);
  font-family: Source Sans Pro;
  font-size: 13px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 0.542px;
  text-transform: uppercase;
  text-decoration: none;
}

h1 {
  color: #000;
  font-family: Source Sans Pro;
  font-size: 60px;
  font-style: normal;
  font-weight: 900;
  line-height: 60px; /* 100% */
}

h2 {
  color: var(--dark);
  font-family: Source Sans Pro;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: 56px;
}
h3 {
  color: var(--light);
  font-family: Source Sans Pro;
  font-size: 34px;
  font-style: normal;
  font-weight: 900;
  line-height: 51px;
}
